/* 	core.css
	bij v/h getpic.htm
	met inspiratie van de imdb site */
body {
    color: #333333;
    background-color: #bbc;
    direction: ltr;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    text-align: left;
}
h1{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 13px auto 0;
    padding-bottom: 0;
}
h2{
 color: #A58500;
    font-size: 17.5px;
    margin: 0 0 0.5em;
    padding: 0;}
h3{
    color: #A58500;
    font-size: 15px;
    margin: 0 0 0.5em;
    padding: 0;
}
.title{
  font-size: 24px;
	font-style: italic;
  text-align: center;
}
.aux-content-widget {
    /*http://webdesignerwall.com/tutorials/cross-browser-css-gradient*/
    /*background: #F2F2F1;*/

    background: -webkit-gradient(linear, left top, left bottom, from(#E8E8E8), to(#F2F2F1));/*Chrome*/
    /*background: -moz-linear-gradient(center bottom , #E8E8E8 0%, #F2F2F1 50%) repeat scroll 0 0 #F5F5F4;!*FF*!*/
    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#F2F2F1')";/*IE nq */

    border: 1px solid #F6F6F5;

    border-radius: 12px 12px 12px 12px;
    /*behavior:url(../script/border-radius.htc);/*IE, nq (non quirks)*/

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    margin: 8px 4px;
    padding: 10px 12px;
    position: relative;
    width: 300px;
    height: 146px;
    float: left;
}
#bm-info{
    display:none;
    position: absolute;
    border: 1px solid #F6F6F5;
    border-radius: 12px 12px 12px 12px;
    /*behavior:url(../script/border-radius.htc);/*IE, nq (non quirks)*/
    background: #ffc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    padding:10px;
    width:240px;
}
#bm-src{
    display:none;
    position: absolute;
    border: 1px solid #F6F6F5;
    border-radius: 12px 12px 12px 12px;
    /*behavior:url(../script/border-radius.htc);/*IE, nq (non quirks)*/
    background: #ffc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    padding:10px;
    width:auto;
}
td{
	vertical-align:top;
	width:33%;
}
#pagecontent {
    margin-bottom: -1px;
    margin-top: -1px;
    padding-bottom: 1px;
    padding-top: 1px;
    border: 1px solid #F6F6F5;
    border-radius: 12px 12px 12px 12px;
    width: auto;
}
.description {
  max-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 60px;
}
.imdb,
.flickr,
.nos,
.journaal24,
.google,
.youtube,
.nmovies,
.image {
  background: url("../images/sprite.png") no-repeat right top;
}
.imdb {
  background-position: -70px 0;
  width: 48px;
  height:21px;
}
.flickr {
  background-position: -180px -37px;
  width: 72px;
  height:22px;
}
.nos {
  background-position: -180px 0;
  width: 80px;
  height:30px;
}
.journaal24 {
  background-position: 0 0;
  width: 55px;
  height:52px;
}
.google {
  background-position: -264px 0;
  width: 26px;
  height:26px;
}
.youtube {
  background-position: 0 -55px;
  width: 72px;
  height:22px;
}
.nmovies {
  background-position: -125px 0;
  width: 43px;
  height:44px;
}
.image {
  background-position: -67px -26px;
  width: 53px;
  height:44px;
}
.footer {
  margin-left: 20px;
  clear: both;
}
.jcroonen {
  background-position: -139px -50px;
  width: 16px;
  height:16px;
}
.clear {
  clear: both;
}
.script-bm {
  margin-left: 12px;
  background: #ffc;
  height: 30px;
  padding-top: 8px;
  padding-left: 8px;
  width: 300px;
}
.script-body {
    display: none;
    background-color: #fff;
    padding: 8px;
    white-space: pre-wrap;
    position: absolute;
    font-family: Consolas, "courier new", serif;
    margin-top: -110px;
    overflow-y: auto;
    height: 80px;
    z-index: 1;
}
.script-link:hover .script-body {
    display: block;
}
.script-link {
    padding: 5px;
    border: 1px solid #aae;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: fit-content;
    float: left;
}
.script-link a {
    text-decoration: none;
}
.script-file {
    float: right;
}
.link-container {
    padding: 8px;
}
.tile-header {
    height: 94px;
    overflow-y: auto;
}

/* iPad landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .aux-content-widget {
        width: 260px;
        height: 160px;
    }
    .tile-header {
        height: 106px;
    }

}

/* iPad portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .aux-content-widget {
        width: 260px
    }
}
