tr:nth-child(odd) {
    background-color: #E8E8E8;
}
tr:nth-child(even) {
    background-color: #EfEfEf;
}
table {
    font-family: monospace;
}
td {
    padding: 6px;
}
.opened {
    color: blue;
}
.hidden {
    display: none;
}
.selector {
    color: #337744;
}
body {
    background-color: #888888;
}
.header {
    color: #eee;
}
.message {
    font-style: italic;
    margin-bottom: 18px;
    color: blue;
    height: 18px;
}
.message.active {
    background-color: #bbbbcc;
}
.header {
    font-size: 18px;
    margin-bottom: 4px;
}