tr:nth-child(odd) {
    background-color: #E8E8E8;
}
tr:nth-child(even) {
    background-color: #EfEfEf;
}
table {
    font-family: monospace;
    margin: auto;
}
.top-section {
    margin: auto;
    width: fit-content;
}
td {
    padding: 6px;
}
.opened {
    color: blue;
    border-color: blue;
    border-radius: 4px;
}
.hidden {
    display: none;
}
.selector {
    color: #337744;
}
body {
    background-color: #888888;
}
.message {
    font-style: italic;
    margin-bottom: 18px;
    color: blue;
    height: 18px;
    padding: 2px 4px;
}
.message.active {
    background-color: #bbbbcc;
}
.header {
    color: #eee;
    font-size: 22px;
    margin-bottom: 4px;
}
input {
    font-size: 16px;
}