#readerarticle p,
#readerarticle>p {
    font-size: 18px !important;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
#article-body article>p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
body {
    background-color: #e7e7e7;
}
#pb-root {
    background-color: inherit;
}

body.dark {
    color: #E8E8E8;
    background-color: #666666;
}
.dark #pb-root {
    background-color: #666666;
}
.dark .pb-f-homepage-card .panel,
.skin.skin-card {
    background-color: #888888;
}
.dark h1,
.dark .blurb,
.dark a,
.dark .label,
.dark .headline,
.dark .pb-f-section-story-list p,
.dark .pb-caption {
    color: #E8E8E8;
}